
 p,textarea,form{
    background-color: #EEEEEE;
    
    /*style={{ backgroundColor: '#A2DBFA' }}*/
}
textarea{
    background: white;
    height: 104px;
}
@media only screen and (max-width: 1200px) {
    textarea{
      width: 400px;
    }
  
  
  }

Link {
    width: 33.33%
}

.imgpre{
    max-width: 30%;
}